body
  font 16px sans-serif

.intgrnt-field
  margin-bottom 16px

  label
    display block

  input
    border 1px solid #ddd
    min-width 200px
    padding 6px

    &:focus
        border-color #0ad
        outline 0

    &.invalid
        border-color #e33
